<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.gov.rs.ddpa_seapi.aquasafe">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="br.gov.rs.ddpa_seapi.aquasafe.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.gov.rs.ddpa_seapi.aquasafe.Hazard.HazardActivity"
            android:label="@string/title_activity_hazard"
            android:parentActivityName="br.gov.rs.ddpa_seapi.aquasafe.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="br.gov.rs.ddpa_seapi.aquasafe.Hazard.PhysicistActivity"
            android:label="@string/title_activity_physicist"
            android:parentActivityName="br.gov.rs.ddpa_seapi.aquasafe.Hazard.HazardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="br.gov.rs.ddpa_seapi.aquasafe.Hazard.ChemicalActivity"
            android:label="@string/title_activity_chemical"
            android:parentActivityName="br.gov.rs.ddpa_seapi.aquasafe.Hazard.HazardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="br.gov.rs.ddpa_seapi.aquasafe.Hazard.BiologicalActivity"
            android:label="@string/title_activity_biological"
            android:parentActivityName="br.gov.rs.ddpa_seapi.aquasafe.Hazard.HazardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="br.gov.rs.ddpa_seapi.aquasafe.Hazard.ErgonomicActivity"
            android:label="@string/title_activity_ergonomic"
            android:parentActivityName="br.gov.rs.ddpa_seapi.aquasafe.Hazard.HazardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="br.gov.rs.ddpa_seapi.aquasafe.Hazard.AccidentActivity"
            android:label="@string/title_activity_accident"
            android:parentActivityName="br.gov.rs.ddpa_seapi.aquasafe.Hazard.HazardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="br.gov.rs.ddpa_seapi.aquasafe.Hazard.GeneralScreenActivity"
            android:label="@string/title_activity_general_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="br.gov.rs.ddpa_seapi.aquasafe.Checklist.ChecklistActivity"
            android:label="@string/title_activity_checklist"
            android:parentActivityName="br.gov.rs.ddpa_seapi.aquasafe.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="br.gov.rs.ddpa_seapi.aquasafe.Checklist.CheckActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="br.gov.rs.ddpa_seapi.aquasafe.ProtectionEquipment.ProtectionEquipmentActivity"
            android:parentActivityName="br.gov.rs.ddpa_seapi.aquasafe.MainActivity" />
        <activity
            android:name="br.gov.rs.ddpa_seapi.aquasafe.SimpleSolution.SimpleSolutionActivity"
            android:parentActivityName="br.gov.rs.ddpa_seapi.aquasafe.MainActivity"></activity>

        <activity android:name="br.gov.rs.ddpa_seapi.aquasafe.About.AboutActivity"
            android:parentActivityName="br.gov.rs.ddpa_seapi.aquasafe.MainActivity"></activity>
    </application>

</manifest>