<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.gov.rs.ddpa_seapi.aquasaude.aquasafe">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Hazard.HazardActivity"
            android:label="@string/title_activity_hazard"
            android:parentActivityName=".Hazard.MainSpecificActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hazard.PhysicistActivity"
            android:label="@string/title_activity_physicist"
            android:parentActivityName=".Hazard.HazardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hazard.ChemicalActivity"
            android:label="@string/title_activity_chemical"
            android:parentActivityName=".Hazard.HazardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hazard.BiologicalActivity"
            android:label="@string/title_activity_biological"
            android:parentActivityName=".Hazard.HazardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hazard.ErgonomicActivity"
            android:label="@string/title_activity_ergonomic"
            android:parentActivityName=".Hazard.HazardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hazard.AccidentActivity"
            android:label="@string/title_activity_accident"
            android:parentActivityName=".Hazard.HazardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hazard.GeneralScreenActivity"
            android:label="@string/title_activity_general_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChecklistGeneral.ChecklistActivity"
            android:label="@string/title_activity_checklist"
            android:parentActivityName=".ChecklistGeneral.GeneralChecklistActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChecklistGeneral.CheckActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ProtectionEquipment.ProtectionEquipmentActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".About.AboutActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Hazard.MainSpecificActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Hazard.HierarchyActivity"
            android:label="@string/hierarchy_control"
            android:parentActivityName=".Hazard.GeneralScreenActivity" />
        <activity
            android:name=".ChecklistGeneral.GeneralChecklistActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChecklistManagement.ManagementActivity"
            android:parentActivityName=".ChecklistGeneral.GeneralChecklistActivity" />
        <activity
            android:name=".ChecklistManagement.ActivityOne"
            android:parentActivityName=".ChecklistManagement.ManagementActivity" />
        <activity
            android:name=".ChecklistWorkers.WorkersActivity"
            android:parentActivityName=".ChecklistGeneral.GeneralChecklistActivity" />
        <activity
            android:name=".Tools.ToolsActivity"
            android:label="@string/tools"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Tools_OSH.ToolsOSHActivity"
            android:label="@string/osh_management_work"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FiveWhys.FiveWhysActivity"
            android:label="@string/five_name"
            android:parentActivityName=".Tools.ToolsActivity" />
        <activity
            android:name=".ProtectionEquipment.GeneralEquipmentActivity"
            android:label="@string/title_activity_general_equipment"
            android:parentActivityName=".ProtectionEquipment.ProtectionEquipmentActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Tools_OSH.WorkplaceActivity"
            android:label="@string/osh_management_work_1"
            android:parentActivityName=".Tools_OSH.ToolsOSHActivity" />
        <activity
            android:name=".Tools_OSH.OpportunitiesActivity"
            android:label="@string/osh_management_work_2"
            android:parentActivityName=".Tools_OSH.ToolsOSHActivity" />
        <activity
            android:name=".WhatIf.WhatIfActivity"
            android:label="@string/what_if"
            android:parentActivityName=".Tools.ToolsActivity" />

        <activity
            android:name=".Quiz.ControlActivty"
            android:parentActivityName=".MainActivity"
            android:label="@string/title_quiz" />

        <activity
            android:name=".Quiz.QuizActivity"
            android:label="@string/title_quiz" />

        <activity
            android:name=".COVID19.CovidActivity"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".COVID19.SymptomsActivity"
            android:parentActivityName=".COVID19.CovidActivity" />

        <activity
            android:name=".COVID19.TransmissionActivity"
            android:parentActivityName=".COVID19.CovidActivity" />

        <activity
            android:name=".COVID19.ProtectionActivity"
            android:parentActivityName=".COVID19.CovidActivity" />

        <activity
            android:name=".COVID19.MaskActivity"
            android:parentActivityName=".COVID19.CovidActivity" />

        <activity
            android:name=".COVID19.OtherProtectionActivity"
            android:parentActivityName=".COVID19.CovidActivity" />

        <activity
            android:name=".COVID19.ProtectHierarchyActivity"
            android:parentActivityName=".COVID19.ProtectionActivity" />

        <activity
            android:name=".COVID19.ProtectWorkplaceActivity"
            android:parentActivityName=".COVID19.ProtectionActivity" />

        <activity
        android:name=".COVID19.ProtectYourselfActivity"
        android:parentActivityName=".COVID19.ProtectionActivity" />

        <activity
            android:name=".COVID19.WhichMaskActivity"
            android:parentActivityName=".COVID19.MaskActivity" />

        <activity
            android:name=".COVID19.NonSirurgicalMaskActivity"
            android:parentActivityName=".COVID19.MaskActivity" />

        <activity
            android:name=".COVID19.HowToUseMaskActivity"
            android:parentActivityName=".COVID19.MaskActivity" />

        <activity
            android:name=".COVID19.CareWithMaskActivity"
            android:parentActivityName=".COVID19.MaskActivity" />

        <activity
            android:name=".COVID19.CareFabricMaskActivity"
            android:parentActivityName=".COVID19.MaskActivity" />

        <activity
            android:name=".COVID19.DisposalMaskActivity"
            android:parentActivityName=".COVID19.MaskActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>