<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flavielli_marques.aquasafe">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Hazard.HazardActivity"
            android:label="@string/title_activity_hazard"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hazard.PhysicistActivity"
            android:label="@string/title_activity_physicist"
            android:parentActivityName=".Hazard.HazardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hazard.ChemicalActivity"
            android:label="@string/title_activity_chemical"
            android:parentActivityName=".Hazard.HazardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hazard.BiologicalActivity"
            android:label="@string/title_activity_biological"
            android:parentActivityName=".Hazard.HazardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hazard.ErgonomicActivity"
            android:label="@string/title_activity_ergonomic"
            android:parentActivityName=".Hazard.HazardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hazard.AccidentActivity"
            android:label="@string/title_activity_accident"
            android:parentActivityName=".Hazard.HazardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hazard.GeneralScreenActivity"
            android:label="@string/title_activity_general_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Checklist.ChecklistActivity"
            android:label="@string/title_activity_checklist"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Checklist.CheckActivity"></activity>
    </application>

</manifest>